.contain_form_newTab{
    border: 1px solid rgb(195, 195, 195);
    width: 35rem;
}
.contain_text_icon{
    height: 3rem;
    padding: 5px;
}
.p1{
    font-size: 12px;
    font-weight: bold;
}
.inpt_nameTab{
    height: 3.3rem;
}
.btn_form_new_tab{
    width: 7em;
    margin: 1rem 0 0 0;
}
.btn_blue{
    background-color: rgba(93, 129, 175, 1);
    color: #fff;
}